<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <filter>
    <display-name>This is the display name of my J2EE component</display-name>
    <filter-name>filter</filter-name>
    <filter-class>filter.filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <display-name>Bottle</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>servlet.AnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/servlet/AnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BottleServlet</servlet-name>
    <servlet-class>servlet.BottleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BottleServlet</servlet-name>
    <url-pattern>/servlet/BottleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>servlet.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/servlet/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetBottleServlet</servlet-name>
    <servlet-class>servlet.GetBottleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBottleServlet</servlet-name>
    <url-pattern>/servlet/GetBottleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetTieServlet</servlet-name>
    <servlet-class>servlet.GetTieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTieServlet</servlet-name>
    <url-pattern>/servlet/GetTieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HistoryTieServlet</servlet-name>
    <servlet-class>servlet.HistoryTieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryTieServlet</servlet-name>
    <url-pattern>/servlet/HistoryTieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HistoryBottleServlet</servlet-name>
    <servlet-class>servlet.HistoryBottleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryBottleServlet</servlet-name>
    <url-pattern>/servlet/HistoryBottleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TieServlet</servlet-name>
    <servlet-class>servlet.TieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TieServlet</servlet-name>
    <url-pattern>/servlet/TieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>IconServlet</servlet-name>
    <servlet-class>servlet.IconServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IconServlet</servlet-name>
    <url-pattern>/servlet/IconServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InformationServlet</servlet-name>
    <servlet-class>servlet.InformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformationServlet</servlet-name>
    <url-pattern>/servlet/InformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetInformationServlet</servlet-name>
    <servlet-class>servlet.GetInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInformationServlet</servlet-name>
    <url-pattern>/servlet/GetInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowBottleServlet</servlet-name>
    <servlet-class>servlet.ShowBottleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBottleServlet</servlet-name>
    <url-pattern>/servlet/ShowBottleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowTieServlet</servlet-name>
    <servlet-class>servlet.ShowTieServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetHeadImageServlet</servlet-name>
    <servlet-class>servlet.GetHeadImageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HeadServlet</servlet-name>
    <servlet-class>servlet.HeadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SortTieServlet</servlet-name>
    <servlet-class>servlet.SortTieServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchTieServlet</servlet-name>
    <servlet-class>servlet.SearchTieServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PlusServlet</servlet-name>
    <servlet-class>servlet.PlusServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SeenServlet</servlet-name>
    <servlet-class>servlet.SeenServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>ShowTieServlet</servlet-name>
    <url-pattern>/servlet/ShowTieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetHeadImageServlet</servlet-name>
    <url-pattern>/servlet/GetHeadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HeadServlet</servlet-name>
    <url-pattern>/servlet/HeadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SortTieServlet</servlet-name>
    <url-pattern>/servlet/SortTieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchTieServlet</servlet-name>
    <url-pattern>/servlet/SearchTieServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlusServlet</servlet-name>
    <url-pattern>/servlet/PlusServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SeenServlet</servlet-name>
    <url-pattern>/servlet/SeenServlet</url-pattern>
  </servlet-mapping>
</web-app>